.bodySignUpLogin{
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.body label,input{
    width: 300px;
    display: flex;
    height: 30px;
    flex-direction: column;
    text-align: center;
    border-radius: 53px 54px 54px 54px;
    -moz-border-radius: 53px 54px 54px 54px;
    -webkit-border-radius: 53px 54px 54px 54px;
    border: 18px;
    margin: 10px;
    text-align: center;
    outline: none;
}

.inputButton{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px !important;
    margin-left: 100px;
}

.body img {
    height: 20% !important;
}