i {
    font-size: 30px;
}

.classNameNavBar {
    
    width: 100%;
    background-color: #4F5467;
    position: fixed;
    z-index: 98;
    top: 0;
}

.navBar {
    display: inline-flex;
    flex-wrap: nowrap;
    padding-right: 430px;
}

.navBarContent {
    display: flex;
    flex-direction: row;
    margin-left: 300px;

}

.navBarContent span {
    color: white;
    

}

.navBarContent i {
    margin: 10px;
    text-align: center;

}