i {
    font-size: 30px;
}

.classNameNavBar {
    margin-left: 239px;
    width: 100%;
    background-color: #4F5467;
    position: fixed;
    z-index: 100;
    top: 0;
}

.navBar {
    display: inline-flex;
    flex-wrap: nowrap;
    padding-right: 430px;
}

.navBarContent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.navBarContent span {
    color: white;


}

.navBarContent i {
    margin: 10px;


}