.sidenav{
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        position: fixed;
        width: 240px;
        top: 0px;
        padding: 50px 10px 0px 10px;
        background: #ffffff;
        z-index: 99;
        height: 100%;
}

.content{
        width: 70%;
        float: left;
        padding: 0 40px;
}

.cardEvent{
    background: #ffffff;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

