.bodymain{
        display: flex;
}

.sidebar{
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        position: fixed;
        width: 240px;
        top: 0px;
        padding: 50px 10px 0px 10px;
        background: #ffffff;
        z-index: 99;
        height: 100%;
        position: fixed;
        top: 0;
        
}

.sidebar h2,p,i{
background-color: white;
}

.content{
        justify-content: center;
        width: 50%;
        padding: 0 40px;
}

.cardEvent{
    background: #ffffff;
    position: relative;
    left: 50%;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin: 80px 15px;
}

.img-circle{
        border-radius: 50%;
        width:90%;
}

*{
            background: #edf1f5;
}
