.bodyMain {
        display: flex;
       
}

.sidebar{
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        width: 240px;
        top: 0px;
        padding: 50px 10px 0px 10px;
        background: #ffffff;
        z-index: 99;
        height: 100%;
        position: fixed;
        top: 0;
        
}



.content{
        justify-content: center;
        width: 50%;
        padding: 0 40px;
}

.cardEvent{
    background: #EDF1F5;
    position: relative;
    left: 50%;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin: 80px 15px;
}

.img-circle{
        border-radius: 50%;
        width:90%;
}



.boxEvent{
            background: #ffffff;
            padding: 15px;
            display: block;
            overflow: hidden;
            margin-bottom: 15px;
}

.imgUser {
        border-radius: 50%;
        font-size: 30px;
        width: 20%;
        float: left;
}

.map{
        width: 100%;
        height: 300px;
}

.data-post h3{
        margin: 15px;
}